/* monstarat and borlow condensed fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@font-face {
  font-family: "Fiexen";
  src: url("../public/Feixen.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiexenBold";
  src: url("../public/FeixenBold.ttf");
  font-weight: bold;
  font-style: normal;
}

.fiexenFont {
  font-family: "Fiexen";
}

.fiexenFontBold {
  font-family: "FiexenBold";
}

.montserratFont {
  font-family: "Montserrat";
}

.barlowFont {
  font-family: "Barlow Condensed";
}

/* hide scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hover underline */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-dark {
  display: inline-block;
  position: relative;
}

.hover-underline-dark::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-dark:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
